/* serviceBox.css */
/* 대량구매 서비스 */
#serviceBox{
	position: relative;
	width:100%; height:300px;
	padding-top: 50px;
	background-color: #fff;
}

#serviceBox:after{
	content: " ";
	position: absolute; 
	z-index:  0;
	bottom: 0;
	width: 100%; height: 50%;
		background-image: linear-gradient( #cdf1f8,#a1c6e9);	
}

.service_area{
	position: absolute; z-index: 2;
	width: 100%; max-width: 1024px;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	padding: 10px; box-sizing: border-box;
}

.service_area button{
	margin-top: 40px;
	width: 100px; height: 40px;
	 background-color: #333;
	color: #fff;
	border-radius: 50px;
}


.service_area button:hover,
.service_area button:focus{
	font-weight: 700;
	background-color: #00a0c2;
}

.service_area h3{
	margin-top: 30px;
	font-size: 2rem;
}

.service_area p{
	word-break: keep-all;
	margin:20px 0;
	color: #696969;
}

.service_area img{
	position: absolute; z-index: -1;
	width: 200px; width: 62.5vw;
	max-width: 400px;
	bottom: 0; right: 0;
}

@media screen and (max-width: 640px){

}

@media screen and (min-width: 1024px){
	.service_area h3{
		margin-top: 30px;
		font-size: 2.5rem;
	}
	
	.service_area p{
		word-break: keep-all;
		font-size: 1.5rem;
		margin:20px 0;
	}
	.service_area img{
		width: 400px;
	}
	.service_area button{
		margin-top: 40px;
		width: 140px; height:50px;
		background-color: #333;
		color: #fff;
		border-radius: 50px;
		font-size: 1rem;
	}
}